body {
    width: 720px;
    height: 343px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    color: white;
}

h1, h2, h3 {
    font-weight: 400;
}

/* Hero styling */

.hero {
    position: relative;
}

.hero-img {
    width: 720px;
    height: 343px;
    display: block;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-text h1, 
.hero-text h2 {
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
}

.hero-text h1 {
    background-color: #B03153;
    margin-bottom: 5px;
}

.hero-text h2 {
    background-color: #C15975;
    width: 500px;
}

/* Main styling */

.main-content {
    background-color: #DAA6B3;
    text-align: center;
    padding: 20px;
}

.main-content h1 {
    margin-top: 0;
    font-size: 24px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.main-container section {
    flex: 1;
}

.main-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 25px;
}

.main-container section h2,
.main-container section h3 {
    font-size: 16px;
}

.main-container section h2 {
    font-weight: bold;
}